<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>202603140852</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>FacebookAppID</key>
	<string>2098653484363170</string>
	<key>FacebookClientToken</key>
	<string>4494be913f05563d83981fead5a87eac</string>
	<key>FacebookDisplayName</key>
	<string>Hot and Cold Friends</string>
	<key>NSContactsUsageDescription</key>
	<string>Hot &amp; Cold Friends vill komma åt dina kontakter för att importera vänner och visa deras väder.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FriendsCast använder din plats för att visa vädret där du befinner dig.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Baloo2-Regular.ttf</string>
		<string>Baloo2-Medium.ttf</string>
		<string>Baloo2-SemiBold.ttf</string>
		<string>Baloo2-Bold.ttf</string>
		<string>Baloo2-ExtraBold.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2098653484363170</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.508810025023-blhjc4rivf7qitnalcvdka8u8t48rqpq</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hotandcold</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
